.badge-white{
	background-color: white;
	color: #0c84e4;
}


.table > tbody > tr > td {
     vertical-align: middle;
}

.chart {display: block; width: 100%;}


.navbar {
    border-radius: 0px;
}

.well {
	background-color: #fafafa;
}

/*body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
	background-color: #34485A;
	border-color: #34485A;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: white;
	background-color: #4B5F71;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

section {
	padding: 5rem 0 5rem 0;
}

.badge{
	background-color: #E4E4E4;
	color: black;
}

#search {
	text-align: center;
}

#edit-workshop{
	text-align: center;
	padding-top: 1.5rem;
}


#table-results {

}

#table-results th {
	text-align: center;
	font-size: 1.5rem;
	color: #333C4C;
	border-top: 0;
	background-color: #F5F5F5;
}

#table-results td {
	text-align: center;
	vertical-align: middle;
	color: #353535;
	word-wrap:break-word;
	max-width: 40rem;
	table-layout:fixed;
}

#paging{
	text-align: center;
}*/