<nav-bar></nav-bar>

<div class="container">

    <div class="page-header">
        <h2>Llamadas</h2>
    </div>

    <button class="btn btn-primary btn-sm pull-right" 
            [disabled]="selectedCallIds.length == 0"
            (click)="ticketsModal.show()">        
            Asociar Incidencia
    </button> 

    <br><br>

    <ul class="nav nav-tabs">
        <li class="active" (click)="loadPendingCalls()">
            <a data-toggle="tab" aria-expanded="true">Llamadas Pendientes</a>
        </li>
        <li class="" (click)="loadHistoryCalls()">
            <a data-toggle="tab" aria-expanded="false">Historial</a>
        </li>
    </ul>

    <br><br>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th [hidden]="discarButtonHidden"></th>
                <th>Taller</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha/Hora</th>
                <th>Duración</th>
                <th>Estado</th>
                <th [hidden]="discarButtonHidden">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let call of calls">
                <td [hidden]="discarButtonHidden">
                    <div class="checkbox" *ngIf="call.workshop">
                        <label>
                            <input type="checkbox" value="" (change)="select($event, call)" />
                        </label>
                    </div>
                </td>
                <td> 
                    <div *ngIf="call.workshop">
                        <a [routerLink]="['/workshops', call.workshop._id]"> 
                            {{call.workshop.name}} 
                        </a>
                    </div>
                </td>
                <td>
                    <span *ngIf="call.callerNumber == '917376582'">ARMIN</span>
                    <span *ngIf="call.callerNumber != '917376582'">{{call.callerNumber | formattedPhone}}</span>
                </td>
                <td>
                    <span *ngIf="call.recieverNumber == '0102' || call.recieverNumber == '0101'">ARMIN</span>
                    <span *ngIf="call.recieverNumber != '0102' && call.recieverNumber != '0101'">{{call.recieverNumber | formattedPhone}}</span>
                </td>
                <td>{{call.date | humanizeDate}} ({{call.date | diffForHumans}})</td>
                <td>{{call.durationInSeconds | durationForHumans}}</td>
                <td>
                    <div [ngSwitch]="call.status">
                        <span *ngSwitchCase="'Respondida'" style="color:green">Respondida</span>
                        <span *ngSwitchCase="'Sin responder'" style="color:red">Sin Responder</span>
                        <span *ngSwitchCase="'Ocupada'" style="color:#ff9800">Ocupada</span>
                        <span *ngSwitchCase="'Fallada'" style="color:grey">Fallada</span>
                    </div>
                </td>
                <td [hidden]="discarButtonHidden">
                    <a class="btn btn-warning btn-sm" (click)="discard(call)">
                        Descartar
                    </a>
                </td>
            </tr>
        </tbody>
    </table> 


    <workshop-tickets #ticketsModal
        [call-ids]="selectedCallIds" 
        [workshop-id]="workshopIdOfSelectedCall">
    </workshop-tickets>

    <incomming></incomming>

</div>