<modal #incommingCallModal 
                title="Llamada entrante"
                modalClass="modal-lg"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="true">

<modal-header>
    
</modal-header>

<modal-content>

    <ng-container *ngIf="incommingCall.workshop?.name; then trueBlock; else falseBlock"></ng-container>
    <ng-template #trueBlock>
        <h2 class="text-center">
            <i class="icon-lg ion-person"></i>
            {{incommingCall.workshop.name}}
            <!--<small>{{incommingCall.number | formattedPhone}}</small>-->
        </h2>
    </ng-template>
    <ng-template #falseBlock>
        <h2 class="text-center">
            <i class="icon-lg ion-android-call"></i>
            {{incommingCall.number | formattedPhone}}
        </h2>
    </ng-template>

    
    <br>

    <div class="card" *ngIf="incommingCall.workshop">
        <div class="card-block">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <div class="card-text" id="incomming-details">
                
                <div class="row">
                    <div class="col-md-3">
                        <strong>Distribuidor:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ incommingCall.workshop?.distributor }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>Contacto</strong>
                    </div>
                    <div class="col-md-9">
                        {{ incommingCall.workshop?.contact }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <strong>Dirección:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ incommingCall.workshop?.address?.description }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <strong>DMS:</strong>
                    </div>
                    <div class="col-md-9">
                        {{ incommingCall.workshop?.current_dms }}
                    </div>
                </div>
            </div><!--card text-->
        </div><!--card block-->
    </div><!--card-->



    <div *ngIf="!incommingCall.workshop">
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Atención!</h4>
            <p>
                La llamada entrante es desconocida. 
                &nbsp;&nbsp;
                <a class="btn btn-primary btn-sm"
                    [routerLink]="['/workshops/new', {'number': incommingCall.number}]">
                    Crear taller
                </a> 
            </p>
        </div>
        
    </div>

    

    <section *ngIf="incommingCall.tickets?.length > 0">
        <hr>

        <div class="page-header">
            <h4>Incidencias Pendientes</h4>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Fecha/Hora</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Operador</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of incommingCall.tickets">
                    <td>{{ ticket.createdAt | diffForHumans }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.owner.name }}</td>
                </tr>
            </tbody>
        </table> 
    </section>

    <section>
        <map *ngIf="showmap" 
             [lat]="incommingCall.workshop.address.location.lat"
             [lng]="incommingCall.workshop.address.location.lng"
        ></map>
    </section>
    
      
</modal-content>

<modal-footer>
</modal-footer>

</modal>