<nav-bar></nav-bar>

<div class="container">

    <div class="page-header">
        <h2>Recordatorios</h2>
    </div>

    <a routerLink="/reminders/new" class="btn btn-primary btn-sm float-right">
        <i class="icon ion-ios-plus-outline" aria-hidden="true"></i> Nuevo Recordatorio
    </a>

    <br><br>

    <table class="table table-striped table-hover ">
        <thead class="thead-inverse">
            <tr>
                <th>Descripción</th>
                <th>Fecha/Hora</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reminder of reminders">
                <td>{{reminder.description}}</td>
                
                <td>
                    <span data-toggle="tooltip" data-placement="top" title="{{ reminder.ISODate | humanizeDate }}">
                        {{ reminder.ISODate | diffForHumans }}
                    </span>
                </td>
        
                <td>
                    <button class="btn btn-danger btn-sm" (click)="delete(reminder)">
                        <i class="icon ion-ios-trash" aria-hidden="true"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table> 

    <go-back></go-back>


</div>