<nav-bar></nav-bar>

<div class="container">

    <br><br>
    <div class="well">
        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>

                <legend>Nuevo Recordatorio</legend>

                <div class="form-group" [class.has-error]="form.controls.description.touched && form.controls.description.errors">
                    <label for="inputDescription" class="col-lg-2 control-label">*Descripción</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" formControlName="description" ></textarea>

                        <div *ngIf="form.controls.description.touched && form.controls.description.errors" >
                            <small class="text-danger" *ngIf="form.controls.description.errors.required">
                                El campo Descripción es obligatorio.
                            </small>
                        </div>

                    </div>
                </div>

                <div class="form-group" [class.has-error]="form.controls.date.touched && form.controls.date.errors">
                    <label for="inputFecha" class="col-lg-2 control-label">*Fecha</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="date">
                        
                        <div *ngIf="form.controls.date.touched && form.controls.date.errors" >
                            <small class="text-danger" *ngIf="form.controls.date.errors.required">
                                El campo Fecha es obligatorio.
                            </small>
                            <small class="text-danger" *ngIf="form.controls.date.errors.date">
                                Fecha inválida.
                            </small>
                        </div>

                    </div>
                </div>

                <div class="form-group" [class.has-error]="form.controls.time.touched && form.controls.time.errors">
                    <label for="inputHora" class="col-lg-2 control-label">*Hora</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="time">

                        <div *ngIf="form.controls.time.touched && form.controls.time.errors" >
                            <small class="text-danger" *ngIf="form.controls.time.errors.required">
                                El campo Hora es obligatorio.
                            </small>
                            <small class="text-danger" *ngIf="form.controls.time.errors.time">
                                Hora inválida.
                            </small>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default" routerLink="/reminders" >Cancelar</button>
                        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Guardar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</div>