<nav-bar></nav-bar>

<div class="container">

<div class="page-header">
    <h2>Demos</h2>
</div>

<a routerLink="/demos/new" class="btn btn-primary btn-sm pull-right">
    <i class="fa fa-plus" aria-hidden="true"></i> Nueva Demo
</a> 

<ul class="nav nav-tabs">
    <li class="active" (click)="loadPendingDemos()">
        <a  data-toggle="tab" aria-expanded="true">Demos Pendientes</a>
    </li>
    <li class="" (click)="loadDemosHistory()">
        <a  data-toggle="tab" aria-expanded="false">Historial</a>
    </li>
</ul>

<br><br>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Taller</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Descripción</th>
            <th>Comentarios</th>
            <th>Fecha/Hora</th>
            <th [hidden]="discardButtonHidden">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let demo of demos">
            <td>{{demo.name }} ({{demo.distributor}})</td>
            <td>{{demo.contact}}</td>
            <td>{{demo.phone}}</td>
            <td>{{demo.description}}</td>
            <td>{{demo.comments}}</td>
            <td>
                {{ demo.ISODate | humanizeDate }}
                ({{ demo.ISODate | diffForHumans }})
            </td>
            <td>
                <span [hidden]="discardButtonHidden">
                    <a class="btn btn-warning btn-sm" [routerLink]="['/demos/new', demo._id]">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </span>
                <span [hidden]="discardButtonHidden">
                    <a class="btn btn-danger btn-sm" (click)="delete(demo)">
                        <i  class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table> 

</div>