<nav-bar></nav-bar>

<div class="container">

<div class="page-header">
    <h2>Demos</h2>
</div>

<a routerLink="/demos/new" class="btn btn-primary btn-sm pull-right">
    <i class="fa fa-plus" aria-hidden="true"></i> Nueva Demo
</a> 

<br><br>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Taller</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Descripción</th>
            <th>Fecha/Hora</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let demo of demos">
            <td>{{demo.name }} ({{demo.distributor}})</td>
            <td>{{demo.contact}}</td>
            <td>{{demo.phone}}</td>
            <td>{{demo.description}}</td>
            <td>
                {{ demo.ISODate | humanizeDate }}
                ({{ demo.ISODate | diffForHumans }})
            </td>
            <td>
                <a class="btn btn-danger btn-sm" (click)="delete(demo)">
                    <i  class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table> 

</div>