body {
	color: #424242;
}


.thead-inverse th {
	background-color: #34485a !important;	
}

.bg-primary {
	background-color: #34485a !important;	
}

.btn-primary {
	background-color: #34485a;
}

.badge-primary {
	background-color: #34485a;
}



.badge-default {
	background-color: white;
	color: #444;
}

.badge {
	font-size: 0.7rem;
}	

.white {
	color: white;
}

.icon-lg {
	font-size: 1.5rem;
}

.icon {
	font-size: 1.0rem;
}

#workshop-smart-search {
	width: 20rem;
}

a {
	color: #34485a;
}

a:hover {
	color:gray;
	text-decoration: none;
}
