<nav-bar></nav-bar>

<div class="container">

    <div class="page-header">
        <h2>Información General</h2>
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            Desvío Extensiones
        </div>
        <div class="card-block">
            <h6 class="card-title">
                <strong>Activar Madrid: </strong> 
                <span class="">*51</span> 
            </h6>
            <h6 class="card-title">
                <strong>Activar Logroño: </strong> 
                <span class="">*52</span> 
            </h6>
        </div>
    </div>

    <br><br>

    <div class="card">
        <div class="card-header">
            Desvío Incondicional
        </div>
        <div class="card-block">
            <h6 class="card-title">
                <strong>Activar: </strong> 
                <span class="">*72</span> 
                <i class="ion-ios-plus-empty"></i> Teléfono
            </h6>
            <h6 class="card-title">
                <strong>Desactivar: </strong> 
                <span class="">*73</span> 
            </h6>
        </div>
    </div>

    <go-back></go-back>

    
</div>  