<nav-bar></nav-bar>

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Desvío Incondicional</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-2">
                <h6>Activar</h6>
            </div>
            <div class="col-md-10">
                <h6>
                  <span class="label label-primary">*72</span> + Teléfono
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h6>Desactivar</h6>
            </div>
            <div class="col-md-10">
                <h6><span class="label label-primary">*73</span></h6>
            </div>
        </div>
        
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Desvío Extensiones</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-2">
                <h6>Activar Madrid</h6>
            </div>
            <div class="col-md-10">
                <h6>
                  <span class="label label-primary">*51</span>
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h6>Activar Logroño</h6>
            </div>
            <div class="col-md-10">
                <h6><span class="label label-primary">*52</span></h6>
            </div>
        </div>
        
    </div>
  </div>
 
    
</div>  