<body>

<div class="alert alert-danger" role="alert" *ngIf="message">
    <p class="text-center">{{ message }}</p>
</div>

<!-- Mixins-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>ARMIN Call</h1><span>Made <i class='fa fa-code'></i> by <a>Daniel Ramírez</a></span>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-container" [class.has-error]="form.controls.username.touched && form.controls.username.errors">
          <input type="text" formControlName="username"/>
          <label for="Username">Usuario</label>
          <div class="bar"></div>

          <div *ngIf="form.controls.username.touched && form.controls.username.errors" >
              <small class="text-danger" *ngIf="form.controls.username.errors.required">
                  Debes introducir tu usuario.
              </small>
          </div>
      </div>
      <div class="input-container" [class.has-error]="form.controls.password.touched && form.controls.password.errors">
          <input type="password" formControlName="password"/>
          <label for="Password">Contraseña</label>
          <div class="bar"></div>

          <div *ngIf="form.controls.password.touched && form.controls.password.errors" >
              <small class="text-danger" *ngIf="form.controls.password.errors.required">
                  Debes introducir tu contraseña.
              </small>
          </div>
      </div>
      <div class="button-container">
          <button type="submit"><span>Go</span></button>
      </div>
<!--       <div class="footer"><a href="#">Forgot your password?</a></div>-->    
    </form>


  </div>

</div>

</body>
