<nav-bar></nav-bar>

<div class="container">

  <br><br>

  <div class="well">

    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>{{title}}</legend>

        <div class="row">

          <div class="col-md-12">

            <div class="form-group">
                <label class="col-lg-3 control-label">Taller</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" readonly 
                    value="{{workshop.name}}">
                </div>
            </div>

            <div class="form-group" [class.has-error]="form.controls.description.touched && form.controls.description.errors">
              <label for="inputName" class="col-lg-3 control-label">* Descripción</label>
              <div class="col-lg-9">
                <textarea [(ngModel)]="ticket.description" type="text" class="form-control" formControlName="description" placeholder="Descripción de la incidencia"></textarea>

                <div *ngIf="form.controls.description.touched && form.controls.description.errors" >
                    <small class="text-danger" *ngIf="form.controls.description.errors.required">
                        El campo descripción es obligatorio.
                    </small>
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="select" class="col-lg-3 control-label">Estado</label>
              <div class="col-lg-9">
                <select [(ngModel)]="ticket.completed" class="form-control" formControlName="completed">
                  <option value="false" selected>Pendiente</option>
                  <option value="true">Solucionado</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-3">
                <button type="reset" class="btn btn-default" routerLink="/workshops" >Cancelar</button>
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Guardar</button>
              </div>
            </div>

          </div><!--col-->

        </div><!--row-->
        
      </fieldset>
    </form>

  </div>

</div>