<nav-bar></nav-bar>

<div class="container">

    <div class="page-header">
        <h2>Categorías</h2>
    </div>

    <a routerLink="/categories/new" class="btn btn-primary btn-sm float-right">
        <i class="icon ion-ios-plus-outline" aria-hidden="true"></i> Nueva Categoría
    </a> 

    <br><br>

    <table class="table table-striped table-hover ">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.name}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" [routerLink]="['/categories/new', category._id]">
                        <i class="icon ion-compose" aria-hidden="true"></i> Editar
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="delete(category)">
                        <i  class="icon ion-ios-trash" aria-hidden="true"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table> 

    <go-back></go-back>


</div>