
<br/><br/>

<div class="container">
    <div class="row justify-content-center">
    
        <div class="col-12">
            
            <agm-map [latitude]="lat" 
                     [longitude]="lng" 
                     [mapDraggable]="false" 
                     [scrollwheel]="false"
                     [zoom]="12" >


                <agm-marker [latitude]="lat" 
                            [longitude]="lng"
                            [iconUrl]="'/assets/map_marker.png'"
                > 
                </agm-marker> 


            </agm-map>

        </div>

    </div>
</div>


    
    


