<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" routerLink="/dashboard">
    <img width="240.0rem" class="img-fluid " src="/assets/armincall_logo.png" alt=""> 
  </a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/workshops">Talleres</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Secciones 
            <span class="badge badge-pill badge-default">{{ badges.pendingCalls + badges.pendingTickets + badges.pendingDemos + badges.pendingReminders }}</span> 
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/calls">Llamadas 
              <span class="badge badge-pill badge-primary">{{badges.pendingCalls}}</span>
            </a>
            <a class="dropdown-item" routerLink="/tickets">Incidencias 
                <span class="badge badge-pill badge-primary">{{badges.pendingTickets}}</span>
            </a>
            <a class="dropdown-item" routerLink="/demos">Demos 
              <span class="badge badge-pill badge-primary">{{badges.pendingDemos}}</span>
            </a>
            <a class="dropdown-item" routerLink="/reminders">Recordatorios 
              <span class="badge badge-pill badge-primary">{{badges.pendingReminders}}</span>
            </a>
            <a class="dropdown-item" routerLink="/categories">Categorías</a>
            <a class="dropdown-item" routerLink="/info-board">Información General</a>
        </div>
      </li>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <form class="form-inline" role="search" onsubmit="return false">
        <input class="form-control mr-sm-2" id='workshop-smart-search' type="text" #search placeholder="Taller, Tel., Distribuidor...">
        <button class="btn btn-secondary my-2 my-sm-0" (click)="find(search.value)" type="button">
          <i class="icon ion-pinpoint"></i> Buscar
        </button>
        
        <!--<a routerLink="/info-board" style="color:white">
          <i class="icon-lg ion-ios-information-outline" style="margin-left:1rem;"></i>
        </a>-->
        <div style="margin-left: 2.0rem;">
          <a target="_blank" href="http://live.gaues.armin.armiwa.eu/?username=bsebastian&password=armintech"> 
            <i class="icon-lg ion-log-in white align-middle"></i> 
            <img width="100.0rem" class="img-fluid " src="/assets/armin_logo.png" alt=""> 
          </a>
        </div>

      </form>

    </ul>


    <div class="form-inline my-2 my-lg-0">
      <a style="cursor: pointer; color:white"  (click)="logout()"> 
        <i class="icon ion-power align-middle" aria-hidden="true"></i> {{ user.name }}
      </a>
    </div>
  
  
  </div>
</nav>

<br><br>

<!--<incomming></incomming>-->

